common --noexperimental_merged_skyframe_analysis_execution
common --enable_runfiles
build --experimental_convenience_symlinks=clean
common --enable_platform_specific_config

build:windows    --copt="/Brepro"    --copt="/guard:cf" --copt="/Z7" --copt="/JMC-" --cxxopt="/std:c++17" --copt="/sdl" --copt="-D_SILENCE_CXX17_ITERATOR_BASE_CLASS_DEPRECATION_WARNING" --copt="-utf-8" --copt="-wd4996"
build:windows --linkopt="/Brepro" --linkopt="/guard:cf" --linkopt="/DEBUG:FULL" --linkopt="/CETCOMPAT" --linkopt="/OPT:REF,ICF" --linkopt="/RELEASE"
common:linux --cxxopt=-std=c++17
common:macos --cxxopt=-std=c++17

## This is what my ../top.bazelrc contains (not in the repo as local to my machine)
# build --disk_cache=f:/b/d
# common --repository_cache=f:/b/r
# startup --output_user_root=f:/b/u
try-import %workspace%/../top.bazelrc
